@import "tailwindcss";

/* Default Mode */


@theme {
  --color-gold-50: oklch(0.9934567557982623 0.03255171370203911 106.97774323406412);
  --color-gold-100: oklch(0.9883705912010103 0.060443024794956224 107.45632345559983);
  --color-gold-200: oklch(0.9792626454444425 0.1180050888071749 108.39438267915745);
  --color-gold-300: oklch(0.9725966142181635 0.1690096850387793 109.16970274139709);
  --color-gold-400: oklch(0.969659508354121 0.19494871243532183 109.5440995788889);
  --color-gold-500: oklch(0.96870819442308 0.20393488854720263 109.67071472755879);
  --color-gold-600: oklch(0.9683847527944254 0.20706321008860892 109.71442238528999);
  --color-gold-700: oklch(0.8867111978955304 0.1912563885960229 109.73907312526683);
  --color-gold-800: oklch(0.8091418531854512 0.17638091981725332 109.7692361281662);
  --color-gold-900: oklch(0.7236911061197794 0.15775392467767524 109.7692361281662);
  --color-foreground-muted: oklch(0.5445749586063588 0.04333667464271315 286.39198158259603);
  --color-background: oklch(0.18183879073070797 0.03515910468328204 264.0104003471827);
  --color-primary: var(--color-biloba-flower-300);
  --color-biloba-flower-300: oklch(0.7714365357784865 0.12122920427083063 284.7347382684777);
  --color-border-muted: oklch(0.7051636353983821 0.0927412304003799 275.0783851911946);
  --color-background-muted: oklch(0.2942291751194074 0.03732675436147742 264.66022418245063);
  --color-border: oklch(0.58213966455401 0.22782662835853398 269.2696617093103);
  --color-border-subtlest: oklch(0.2681640659856196 0.03634818555413662 275.001208278702);
  --color-shadow: oklch(0.7720841938250127 0.13718255385292577 234.5729411944867);
  --color-secondary: var(--tailwind-color-fuchsia-200);
  --tailwind-color-fuchsia-200: oklch(0.9029772777625557 0.07323717871376122 319.6197906797668);
  --color-primary-foreground: oklch(0.30683567960732006 0.0863373494181205 264.922543935003);
  --color-foreground: oklch(0.8703256210874237 0.05571979749812122 285.9451553522898);
  --color-tag-primary-foreground: var(--color-foreground);
  --color-tag-red-foreground: var(--tailwind-color-red-100);
  --tailwind-color-red-100: oklch(0.9356407492083478 0.03089584497963446 17.717103303390047);
  --color-tag-emerald-foreground: var(--tailwind-color-green-100);
  --tailwind-color-green-100: oklch(0.9624129389765398 0.04337822025468778 156.74264876609504);
  --color-tag-purple-foreground: var(--tailwind-color-purple-100);
  --tailwind-color-purple-100: oklch(0.9464304092037876 0.03274181144160664 307.1744423245818);
  --color-tag-fuchsia-foreground: var(--tailwind-color-fuchsia-100);
  --tailwind-color-fuchsia-100: oklch(0.9520445912620059 0.03596649590342234 318.8518420436566);
  --color-tag-red-border: var(--tailwind-color-red-400);
  --tailwind-color-red-400: oklch(0.710627353120239 0.16614791148093794 22.216215234433378);
  --color-tag-emerald-border: var(--tailwind-color-green-400);
  --tailwind-color-green-400: oklch(0.8003487862708505 0.1820603691487061 151.7110416626948);
  --color-tag-purple-border: var(--tailwind-color-purple-400);
  --tailwind-color-purple-400: oklch(0.7216854044946124 0.17668841378336114 305.50375528644565);
  --color-tag-fuchsia-border: var(--tailwind-color-fuchsia-400);
  --tailwind-color-fuchsia-400: oklch(0.747720135542149 0.20697175593942918 322.1604279775703);
  --color-tag-primary-border: var(--color-primary);
  --color-biloba-flower-50: oklch(0.9533533294669098 0.0227933253776357 283.26638386659323);
  --color-biloba-flower-100: oklch(0.9135522354742799 0.04343683967146966 285.50838476578303);
  --color-biloba-flower-200: oklch(0.8432827791460435 0.08061886296629643 284.53975566856366);
  --color-biloba-flower-400: oklch(0.6624228633162439 0.1823500237422002 285.2914363177137);
  --color-biloba-flower-500: oklch(0.5943113111463502 0.21674278621821166 286.56717646816975);
  --color-biloba-flower-600: oklch(0.5321965079952511 0.23667889062033973 287.32153052373485);
  --color-biloba-flower-700: oklch(0.4782548287177382 0.22129743483090888 287.75227257277436);
  --color-biloba-flower-800: oklch(0.41532925833204853 0.18351874217515615 287.87385093797224);
  --color-biloba-flower-900: oklch(0.3695781580982713 0.14152131408599783 288.310122542793);
  --color-biloba-flower-950: oklch(0.26549443507426096 0.09151664217341443 292.3146581402148);
  --color-input: oklch(0.392720948878142 0.042920663586123176 275.4946283548825);
  --color-ring: var(--color-primary);
  --color-accent: var(--color-background-muted);
  --color-secondary-foreground: oklch(0.35245397781727555 0.11314362084723847 323.0936722595301);
  --color-tag-secondary-foreground: var(--tailwind-color-fuchsia-100);
  --color-tag-secondary-border: var(--color-secondary);
}


body {
  color: var(--color-foreground);
}

/* :root {
  --colors-foreground-mute: 110 109 137 / 1;
  --colors-background-default: 10 17 34 / 1;
  --colors-primary-default: 172 169 255 / 1;
  --colors-border-muted: 143 156 218 / 1;
  --colors-background-muted: 35 44 63 / 1;
  --colors-border-default: 72 103 255 / 1;
  --colors-border-subtlest: 33 37 56 / 1;
  --colors-shadow-default: 72 194 255 / 1;
  --colors-secondary-default: 229 180 234 / 1;
  --colors-primary-foreground: 25 44 91 / 1;
  --colors-foreground-default: 208 218 248 / 1;
  --colors-tag-primary-foreground: var(--colors-foreground-default);
  --colors-tag-red-foreground: var(--tailwind-color-red-100);
  --tailwind-color-red-100: 254 226 226 / 1;
  --colors-tag-emerald-foreground: var(--tailwind-color-green-100);
  --tailwind-color-green-100: 220 252 231 / 1;
  --colors-tag-purple-foreground: var(--tailwind-color-purple-100);
  --tailwind-color-purple-100: 243 232 255 / 1;
  --colors-tag-fuchsia-foreground: var(--tailwind-color-fuchsia-100);
  --tailwind-color-fuchsia-100: 250 232 255 / 1;
  --colors-tag-red-border: var(--tailwind-color-red-400);
  --tailwind-color-red-400: 248 113 113 / 1;
  --colors-tag-emerald-border: var(--tailwind-color-green-400);
  --tailwind-color-green-400: 74 222 128 / 1;
  --colors-tag-purple-border: var(--tailwind-color-purple-400);
  --tailwind-color-purple-400: 192 132 252 / 1;
  --colors-tag-fuchsia-border: var(--tailwind-color-fuchsia-400);
  --tailwind-color-fuchsia-400: 232 121 249 / 1;
  --colors-tag-primary-border: var(--colors-primary-default);
} */

body {
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
}

figcaption {
  font-size: 0.85rem;
  line-height: 1.5rem;
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

code.text-\[\.9em\] {
  font-size: 14px;
}
