@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

/* :root {
  --colors-foreground-mute: 110 109 137 / 1;
  --colors-background-default: 10 17 34 / 1;
  --colors-primary-default: 172 169 255 / 1;
  --colors-border-muted: 143 156 218 / 1;
  --colors-background-muted: 35 44 63 / 1;
  --colors-border-default: 72 103 255 / 1;
  --colors-border-subtlest: 33 37 56 / 1;
  --colors-shadow-default: 72 194 255 / 1;
  --colors-secondary-default: 229 180 234 / 1;
  --colors-primary-foreground: 25 44 91 / 1;
  --colors-foreground-default: 208 218 248 / 1;
  --colors-tag-primary-foreground: var(--colors-foreground-default);
  --colors-tag-red-foreground: var(--tailwind-color-red-100);
  --tailwind-color-red-100: 254 226 226 / 1;
  --colors-tag-emerald-foreground: var(--tailwind-color-green-100);
  --tailwind-color-green-100: 220 252 231 / 1;
  --colors-tag-purple-foreground: var(--tailwind-color-purple-100);
  --tailwind-color-purple-100: 243 232 255 / 1;
  --colors-tag-fuchsia-foreground: var(--tailwind-color-fuchsia-100);
  --tailwind-color-fuchsia-100: 250 232 255 / 1;
  --colors-tag-red-border: var(--tailwind-color-red-400);
  --tailwind-color-red-400: 248 113 113 / 1;
  --colors-tag-emerald-border: var(--tailwind-color-green-400);
  --tailwind-color-green-400: 74 222 128 / 1;
  --colors-tag-purple-border: var(--tailwind-color-purple-400);
  --tailwind-color-purple-400: 192 132 252 / 1;
  --colors-tag-fuchsia-border: var(--tailwind-color-fuchsia-400);
  --tailwind-color-fuchsia-400: 232 121 249 / 1;
  --colors-tag-primary-border: var(--colors-primary-default);
} */

body {
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
}

figcaption {
  font-size: 0.85rem;
  line-height: 1.5rem;
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

/* Default Mode */
@theme {
  /* Collection: Design Tokens */
  --color-accent: var(--brand-modes-color-accent);
  --color-background: var(--brand-modes-color-background);
  --color-border: var(--brand-modes-color-border);
  --color-border-muted: var(--brand-modes-color-border-muted);
  --color-card: var(--brand-modes-color-background);
  --color-card-foreground: var(--brand-modes-color-foreground);
  --color-chart-1: var(--brand-modes-color-chart-1);
  --color-chart-1-2: var(--brand-modes-color-chart-1-2);
  --color-chart-2: var(--brand-modes-color-chart-2);
  --color-chart-3: var(--brand-modes-color-chart-3);
  --color-chart-4: var(--brand-modes-color-chart-4);
  --color-foreground: var(--brand-modes-color-foreground);
  --color-input: var(--brand-modes-color-input);
  --color-muted: var(--brand-modes-color-muted);
  --color-muted-foreground: var(--brand-modes-color-muted-foreground);
  --color-palette-biloba-flower-0: var(--theme-modes-color-palette-biloba-flower-0);
  --color-palette-biloba-flower-100: var(--theme-modes-color-palette-biloba-flower-100);
  --color-palette-biloba-flower-1000: var(--theme-modes-color-palette-biloba-flower-1000);
  --color-palette-biloba-flower-300: var(--theme-modes-color-palette-biloba-flower-300);
  --color-palette-biloba-flower-50: var(--theme-modes-color-palette-biloba-flower-50);
  --color-palette-biloba-flower-500: var(--theme-modes-color-palette-biloba-flower-500);
  --color-palette-biloba-flower-800: var(--theme-modes-color-palette-biloba-flower-800);
  --color-palette-cyan-100: var(--theme-modes-color-palette-cyan-100);
  --color-palette-cyan-1000: var(--theme-modes-color-palette-cyan-1000);
  --color-palette-cyan-300: var(--theme-modes-color-palette-cyan-300);
  --color-palette-cyan-50: var(--theme-modes-color-palette-cyan-50);
  --color-palette-cyan-500: var(--theme-modes-color-palette-cyan-500);
  --color-palette-cyan-800: var(--theme-modes-color-palette-cyan-800);
  --color-palette-emerald-500: var(--theme-modes-color-palette-emerald-500);
  --color-palette-fuchsia-100: var(--theme-modes-color-palette-fuchsia-100);
  --color-palette-fuchsia-200: var(--theme-modes-color-palette-fuchsia-200);
  --color-palette-fuchsia-400: var(--theme-modes-color-palette-fuchsia-400);
  --color-palette-fuchsia-50: var(--theme-modes-color-palette-fuchsia-50);
  --color-palette-fuchsia-500: var(--theme-modes-color-palette-fuchsia-500-2);
  --color-palette-green-100: var(--theme-modes-color-palette-green-100);
  --color-palette-green-400: var(--theme-modes-color-palette-green-400);
  --color-palette-orange-500: var(--theme-modes-color-palette-orange-500);
  --color-palette-purple-100: var(--theme-modes-color-palette-purple-100);
  --color-palette-purple-400: var(--theme-modes-color-palette-purple-400);
  --color-palette-purple-500: var(--theme-modes-color-palette-purple-500);
  --color-palette-red-100: var(--theme-modes-color-palette-red-100);
  --color-palette-red-400: var(--theme-modes-color-palette-red-400);
  --color-palette-red-500: var(--theme-modes-color-palette-red-500);
  --color-palette-yellow-500: var(--theme-modes-color-palette-yellow-500);
  --color-popover: var(--brand-modes-color-background);
  --color-popover-foreground: var(--brand-modes-color-foreground);
  --color-primary: var(--brand-modes-color-primary);
  --color-primary-foreground: var(--brand-modes-color-primary-foreground);
  --color-ring: var(--color-primary);
  --color-secondary: var(--brand-modes-color-secondary);
  --color-secondary-foreground: var(--brand-modes-color-secondary-foreground);
  --color-shadow: oklch(0.772 0.137 234.6);
  --color-sidebar: var(--brand-modes-color-background);
  --color-sidebar-accent: var(--brand-modes-color-accent);
  --color-sidebar-border: var(--brand-modes-color-border);
  --color-sidebar-foreground: var(--brand-modes-color-foreground);
  --color-sidebar-primary: var(--brand-modes-color-primary);
  --color-sidebar-primary-foreground: var(--brand-modes-color-primary-foreground);
  --color-sidebar-ring: var(--brand-modes-color-primary);
  --color-tag-emerald-border: var(--color-palette-green-400);
  --color-tag-emerald-foreground: var(--color-palette-green-100);
  --color-tag-fuchsia-border: var(--color-palette-fuchsia-400);
  --color-tag-fuchsia-foreground: var(--color-palette-fuchsia-100);
  --color-tag-primary-border: var(--color-primary);
  --color-tag-primary-foreground: var(--color-foreground);
  --color-tag-purple-border: var(--color-palette-purple-400);
  --color-tag-purple-foreground: var(--color-palette-purple-100);
  --color-tag-red-border: var(--color-palette-red-400);
  --color-tag-red-foreground: var(--color-palette-red-100);
  --color-tag-secondary-border: var(--color-secondary);
  --color-tag-secondary-foreground: var(--color-palette-fuchsia-100);
  --container-2xl: var(--density-modes-container-2xl);
  --container-2xs: var(--density-modes-container-2xs);
  --container-3xl: var(--density-modes-container-3xl);
  --container-3xs: var(--density-modes-container-3xs);
  --container-4xl: var(--density-modes-container-4xl);
  --container-5xl: var(--density-modes-container-5xl);
  --container-6xl: var(--density-modes-container-6xl);
  --container-7xl: var(--density-modes-container-7xl);
  --container-lg: var(--density-modes-container-lg);
  --container-md: var(--density-modes-container-md);
  --container-sm: var(--density-modes-container-sm);
  --container-xl: var(--density-modes-container-xl);
  --container-xs: var(--density-modes-container-xs);

  --spacing-0: var(--density-modes-spacing-0);
  --spacing-0-5: var(--density-modes-spacing-0-5);
  --spacing-1: var(--density-modes-spacing-1);
  --spacing-10: var(--density-modes-spacing-10);
  --spacing-12: var(--density-modes-spacing-12);
  --spacing-16: var(--density-modes-spacing-16);
  --spacing-2: var(--density-modes-spacing-2);
  --spacing-20: var(--density-modes-spacing-20);
  --spacing-24: var(--density-modes-spacing-24);
  --spacing-3: var(--density-modes-spacing-3);
  --spacing-32: var(--density-modes-spacing-32);
  --spacing-4: var(--density-modes-spacing-4);
  --spacing-40: var(--density-modes-spacing-40);
  --spacing-5: var(--density-modes-spacing-5);
  --spacing-6: var(--density-modes-spacing-6);
  --spacing-60: var(--density-modes-spacing-60);
  --spacing-8: var(--density-modes-spacing-8);
  --spacing-9: var(--density-modes-spacing-9);
  --spacing-px: var(--density-modes-spacing-px);

  --text-body: 1.125rem;
  --text-body--font-weight: 400;
  --text-body--line-height: 100%;
  --text-color: oklch(1 0 0);
  --text-display: 5rem;
  --text-display--font-weight: 800;
  --text-display--line-height: 100%;
  --text-heading: 2.25rem;
  --text-heading--font-weight: 400;
  --text-heading--line-height: 130%;
  --text-title: 2rem;
  --text-title--font-weight: 400;
  --text-title--line-height: 100%;

}

:root{
  /* Collection: Brand Modes */
  --brand-modes-color-accent: var(--color-palette-biloba-flower-50);
  --brand-modes-color-background: var(--color-palette-biloba-flower-0);
  --brand-modes-color-border: var(--color-palette-biloba-flower-50);
  --brand-modes-color-border-muted: var(--theme-modes-color-palette-biloba-flower-300);
  --brand-modes-color-chart-1: var(--color-palette-biloba-flower-500);
  --brand-modes-color-chart-1-2: var(--color-palette-biloba-flower-300);
  --brand-modes-color-chart-2: var(--color-palette-fuchsia-500);
  --brand-modes-color-chart-3: var(--color-palette-orange-500);
  --brand-modes-color-chart-4: var(--color-palette-purple-500);
  --brand-modes-color-foreground: var(--color-palette-biloba-flower-1000);
  --brand-modes-color-input: var(--color-palette-biloba-flower-100);
  --brand-modes-color-muted: var(--color-palette-biloba-flower-100);
  --brand-modes-color-muted-foreground: var(--color-palette-biloba-flower-800);
  --brand-modes-color-primary: var(--color-palette-biloba-flower-500);
  --brand-modes-color-primary-foreground: oklch(1 0 0);
  --brand-modes-color-secondary: var(--color-palette-fuchsia-200);
  --brand-modes-color-secondary-foreground: var(--color-palette-fuchsia-50);

  /* Collection: Theme Modes */
  --theme-modes-color-palette-biloba-flower-0: oklch(0.976 0.012 283.5);
  --theme-modes-color-palette-biloba-flower-100: oklch(0.914 0.043 285.5);
  --theme-modes-color-palette-biloba-flower-1000: oklch(0.225 0.018 298.2);
  --theme-modes-color-palette-biloba-flower-300: oklch(0.771 0.121 284.7);
  --theme-modes-color-palette-biloba-flower-50: oklch(0.953 0.023 283.3);
  --theme-modes-color-palette-biloba-flower-500: oklch(0.594 0.217 286.6);
  --theme-modes-color-palette-biloba-flower-800: oklch(0.415 0.184 287.9);
  --theme-modes-color-palette-cyan-0: oklch(0.991 0.011 201);
  --theme-modes-color-palette-cyan-100: oklch(0.956 0.044 203.4);
  --theme-modes-color-palette-cyan-1000: oklch(0.243 0.011 223.7);
  --theme-modes-color-palette-cyan-300: oklch(0.865 0.115 207.1);
  --theme-modes-color-palette-cyan-50: oklch(0.984 0.019 200.9);
  --theme-modes-color-palette-cyan-500: oklch(0.715 0.126 215.2);
  --theme-modes-color-palette-cyan-800: oklch(0.45 0.077 224.3);
  --theme-modes-color-palette-emerald-500: oklch(0.696 0.149 162.5);
  --theme-modes-color-palette-fuchsia-100: oklch(0.952 0.036 318.9);
  --theme-modes-color-palette-fuchsia-200: oklch(0.903 0.073 319.6);
  --theme-modes-color-palette-fuchsia-400: oklch(0.748 0.207 322.2);
  --theme-modes-color-palette-fuchsia-50: oklch(0.977 0.017 320.1);
  --theme-modes-color-palette-fuchsia-500-2: oklch(0.667 0.259 322.1);
  --theme-modes-color-palette-green-100: oklch(0.962 0.043 156.7);
  --theme-modes-color-palette-green-400: oklch(0.8 0.182 151.7);
  --theme-modes-color-palette-orange-500: oklch(0.705 0.187 47.6);
  --theme-modes-color-palette-purple-100: oklch(0.946 0.033 307.2);
  --theme-modes-color-palette-purple-400: oklch(0.722 0.177 305.5);
  --theme-modes-color-palette-purple-500: oklch(0.627 0.233 303.9);
  --theme-modes-color-palette-red-100: oklch(0.936 0.031 17.7);
  --theme-modes-color-palette-red-400: oklch(0.711 0.166 22.2);
  --theme-modes-color-palette-red-500: oklch(0.637 0.208 25.3);
  --theme-modes-color-palette-yellow-50: oklch(0.987 0.026 102.2);
  --theme-modes-color-palette-yellow-500: oklch(0.795 0.162 86);

  /* Collection: Density Modes */
  --density-modes-container-2xl: 42rem;
  --density-modes-container-2xs: 18rem;
  --density-modes-container-3xl: 48rem;
  --density-modes-container-3xs: 16rem;
  --density-modes-container-4xl: 56rem;
  --density-modes-container-5xl: 64rem;
  --density-modes-container-6xl: 72rem;
  --density-modes-container-7xl: 80rem;
  --density-modes-container-lg: 32rem;
  --density-modes-container-md: 28rem;
  --density-modes-container-sm: 17.75rem;
  --density-modes-container-xl: 36rem;
  --density-modes-container-xs: 20rem;
  --density-modes-spacing-0: 0rem;
  --density-modes-spacing-0-5: 0.125rem;
  --density-modes-spacing-1: 0.25rem;
  --density-modes-spacing-10: 2.5rem;
  --density-modes-spacing-12: 3rem;
  --density-modes-spacing-16: 4rem;
  --density-modes-spacing-2: 0.5rem;
  --density-modes-spacing-20: 5rem;
  --density-modes-spacing-24: 6rem;
  --density-modes-spacing-3: 0.75rem;
  --density-modes-spacing-32: 8rem;
  --density-modes-spacing-4: 1rem;
  --density-modes-spacing-40: 10rem;
  --density-modes-spacing-5: 1.25rem;
  --density-modes-spacing-6: 1.5rem;
  --density-modes-spacing-60: 15rem;
  --density-modes-spacing-8: 2rem;
  --density-modes-spacing-9: 2.25rem;
  --density-modes-spacing-px: 1px;
} 

/* Mode Override */
.brand-b {
  /* Collection: Brand Modes */
  --brand-modes-color-accent: var(--color-palette-cyan-50);
  --brand-modes-color-background: var(--theme-modes-color-palette-cyan-0);
  --brand-modes-color-border: var(--color-palette-cyan-50);
  --brand-modes-color-border-muted: var(--theme-modes-color-palette-cyan-300);
  --brand-modes-color-chart-1: var(--theme-modes-color-palette-cyan-500);
  --brand-modes-color-chart-1-2: var(--color-palette-cyan-300);
  --brand-modes-color-chart-2: var(--color-palette-yellow-500);
  --brand-modes-color-chart-3: var(--color-palette-emerald-500);
  --brand-modes-color-chart-4: var(--color-palette-red-500);
  --brand-modes-color-foreground: var(--color-palette-cyan-1000);
  --brand-modes-color-input: var(--color-palette-cyan-100);
  --brand-modes-color-muted: var(--color-palette-cyan-100);
  --brand-modes-color-muted-foreground: var(--color-palette-cyan-800);
  --brand-modes-color-primary: var(--color-palette-cyan-500);
  --brand-modes-color-secondary: var(--theme-modes-color-palette-yellow-500);
  --brand-modes-color-secondary-foreground: var(--theme-modes-color-palette-yellow-50);
}

/* Mode Override */
.compact {
  /* Collection: Density Modes */
  --density-modes-container-2xl: 36rem;
  --density-modes-container-2xs: 16rem;
  --density-modes-container-3xl: 42rem;
  --density-modes-container-3xs: 15rem;
  --density-modes-container-4xl: 48rem;
  --density-modes-container-5xl: 56rem;
  --density-modes-container-6xl: 64rem;
  --density-modes-container-7xl: 72rem;
  --density-modes-container-lg: 28rem;
  --density-modes-container-md: 17.75rem;
  --density-modes-container-sm: 20rem;
  --density-modes-container-xl: 32rem;
  --density-modes-container-xs: 18rem;
  --density-modes-spacing-0: 0rem;
  --density-modes-spacing-0-5: 0.0625rem;
  --density-modes-spacing-1: 0.1875rem;
  --density-modes-spacing-10: 2.25rem;
  --density-modes-spacing-12: 2.25rem;
  --density-modes-spacing-16: 3rem;
  --density-modes-spacing-2: 0.375rem;
  --density-modes-spacing-20: 4rem;
  --density-modes-spacing-24: 5rem;
  --density-modes-spacing-3: 0.5625rem;
  --density-modes-spacing-32: 6.25rem;
  --density-modes-spacing-4: 0.875rem;
  --density-modes-spacing-40: 8.75rem;
  --density-modes-spacing-5: 1.125rem;
  --density-modes-spacing-6: 1.25rem;
  --density-modes-spacing-60: 11.25rem;
  --density-modes-spacing-8: 1.5rem;
  --density-modes-spacing-9: 2rem;
  --density-modes-spacing-px: 1px;
}

/* Mode Override */
.dark {
  /* Collection: Theme Modes */
  --theme-modes-color-palette-biloba-flower-0: oklch(0.225 0.018 300.2);
  --theme-modes-color-palette-biloba-flower-100: oklch(0.37 0.142 288.3);
  --theme-modes-color-palette-biloba-flower-1000: oklch(0.976 0.012 286.2);
  --theme-modes-color-palette-biloba-flower-300: oklch(0.478 0.221 287.8);
  --theme-modes-color-palette-biloba-flower-50: oklch(0.265 0.092 292.3);
  --theme-modes-color-palette-biloba-flower-500: oklch(0.594 0.217 286.6);
  --theme-modes-color-palette-biloba-flower-800: oklch(0.843 0.081 284.5);
  --theme-modes-color-palette-cyan-0: oklch(0.242 0.012 225.7);
  --theme-modes-color-palette-cyan-100: oklch(0.398 0.066 227.4);
  --theme-modes-color-palette-cyan-1000: oklch(0.99 0.011 204.1);
  --theme-modes-color-palette-cyan-300: oklch(0.52 0.094 223.1);
  --theme-modes-color-palette-cyan-50: oklch(0.302 0.054 229.7);
  --theme-modes-color-palette-cyan-500: oklch(0.715 0.126 215.2);
  --theme-modes-color-palette-cyan-800: oklch(0.917 0.077 205);
  --theme-modes-color-palette-emerald-500: oklch(0.696 0.149 162.5);
  --theme-modes-color-palette-fuchsia-100: oklch(0.401 0.16 325.6);
  --theme-modes-color-palette-fuchsia-200: oklch(0.452 0.192 324.6);
  --theme-modes-color-palette-fuchsia-400: oklch(0.591 0.257 322.9);
  --theme-modes-color-palette-fuchsia-50: oklch(0.293 0.131 325.7);
  --theme-modes-color-palette-fuchsia-500-2: oklch(0.667 0.259 322.1);
  --theme-modes-color-palette-green-100: oklch(0.393 0.09 152.5);
  --theme-modes-color-palette-green-400: oklch(0.627 0.17 149.2);
  --theme-modes-color-palette-orange-500: oklch(0.705 0.187 47.6);
  --theme-modes-color-palette-purple-100: oklch(0.381 0.166 305);
  --theme-modes-color-palette-purple-400: oklch(0.558 0.252 302.3);
  --theme-modes-color-palette-purple-500: oklch(0.627 0.233 303.9);
  --theme-modes-color-palette-red-100: oklch(0.396 0.133 25.7);
  --theme-modes-color-palette-red-400: oklch(0.577 0.215 27.3);
  --theme-modes-color-palette-red-500: oklch(0.637 0.208 25.3);
  --theme-modes-color-palette-yellow-50: oklch(0.286 0.064 53.8);
  --theme-modes-color-palette-yellow-500: oklch(0.795 0.162 86);
}


:root {
  --x-color-black: var(--x-color-neutral-950);
  --x-color-neutral-400: oklch(0.62 0.02 265.72);
  --x-color-neutral-700: oklch(0.37 0.02 265.74);
  --x-color-neutral-800: oklch(0.26 0.04 264.8);
  --x-color-neutral-900: oklch(0.24 0.03 265);
  --x-color-neutral-950: oklch(0.18 0.02 265.45);
  --x-color-nextra-bg: var(--color-background);
  --x-color-primary-600: var(--color-primary);
}

.x\:nextra-focus {
  --tw-ring-color: color-mix(in oklab, var(--color-ring) 50%, transparent);
  border-color: var(--color-ring);
  --tw-ring-offset-color: var(--color-ring);
}

.x\:text-primary-800 {
  color: var(--x-color-primary-600);
}

.x-local-switch {
  color: var(--color-foreground);
}

.special-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-foreground/20 via-foreground to-foreground/64;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  body.docs {
    @apply bg-transparent;
  }
}
